<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Filter Pesawat</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar('Filter Pesawat')"></nav>
<section>
    <div class="center">
    <h2>Cari Pesawat</h2>
        <form th:action="@{/pesawat/filter}" th:object="${pesawat}" method="POST">
            <b>Penerbangan: </b><br>
            <select name="penerbangan" th:field="${penerbangan}">
                <option th:each="i : ${listPenerbangan}" th:value="${i.nomorPenerbangan}" th:text="${i.nomorPenerbangan}">
                </option>
            </select>
            <br>
            <b>Tipe: </b><br>
            <select name="tipe" th:field="${tipe}">
                <option th:each="i : ${listTipe}" th:value="${i.id}" th:text="${i.nama}">
                </option>
            </select>
            <br>
            <b>Teknisi: </b>
            <select name="teknisi" th:field="${teknisi}">
                <option th:each="i : ${listTeknisi}" th:value="${i.nama}" th:text="${i.nama}">
                </option>
            </select>
            <br><br>
            <button type="submit" value="Submit">Cari</button>
        </form>
    </div>
</section>
<section>
    <div class="center">
        <table class="table">
    <thead>
    <tr>
        <th scope="col">No</th>
        <th scope="col">Nomor Seri</th>
        <th scope="col">Jenis</th>
        <th scope="col">Tipe</th>
        <th scope="col">Maskapai</th>
        <th scope="col">Nomor Penerbangan</th>
        <th scope="col">Teknisi</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pesawat: ${listPesawat}">
        <td th:text="${pesawat.id}"></td>
        <td th:text="${pesawat.nomorSeri}"></td>
        <td th:if="${pesawat.jenisPesawat == 0}">Komersial</td>
        <td th:if="${pesawat.jenisPesawat == 1}">Militer</td>
        <td th:if="${pesawat.jenisPesawat == 2}">Pribadi</td>
        <td th:text="${pesawat.tipe.nama}"></td>
        <td th:text="${pesawat.maskapai}"></td>
        <td th:text="${pesawat.nomorPenerbangan}"></td>
        <td th:text="${pesawat.getTeknisi().nama}"></td>
    </tr>
    </tbody>
</table>
    </div>
</section>
</body>
</html>