<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form add pesawat</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar('Form Add Pesawat')"></nav>
<h2>Tambah Pesawat</h2>
<section>
    <div class="card">
        <div class="card-body">
            <form th:action="@{/pesawat/tambah}" th:object="${pesawat}" method="POST">
                <input type="hidden" th:field="*{id}">
                Maskapai<br>
                <input type="text" name="maskapai"/>
                <br>
                Tanggal Dibuat<br>
                <input type="date" name="tanggalDibuat"/>
                <br>
                Tempat Dibuat<br>
                <input type="text" name="tempatDibuat"/>
                <br>
                Jenis<br>
                <select name="jenisPesawat">
                    <option value="0">Komersial</option>
                    <option value="1">Militer</option>
                    <option value="2">Pribadi</option>
                </select>
                <br>
                Tipe<br>
                <select name="tipe" th:field="*{tipe}">
                    <option th:each="i : ${listTipe}" th:value="${i.id}" th:text="${i.nama}">
                    </option>
                </select>
                <br>
                Teknisi<br>
                    <input type="hidden" th:field="${pesawat}"/>
                    <tr th:each="pesawatTeknisi, iterationStatus : *{listPesawatTeknisi}">
                        <select class="form-control" th:field="*{listPesawatTeknisi[__${iterationStatus.index}__].teknisi}">
                            <option th:each="pT : ${listTeknisi}" th:text="${pT.nama}" th:value="${pT.id}" ></option>
                        </select>
                        <br style="line-height: 0px">
                    </tr>
<!--                    <tr th:each="teknisi, iterationStatus : *{listPesawatTeknisi}">-->
<!--                        <td>-->
<!--                            <select name="teknisi" th:field="*{listPesawatTeknisi[__${iterationStatus.index}__]}">-->
<!--                                <option th:each="i : ${listPesawatTeknisi}" th:value="${i.getTeknisi().nama}" th:text="${i.getTeknisi().nama}">-->
<!--                                </option>-->
<!--                            </select>-->
<!--                        </td>-->
<!--                        <td>-->
<!--                            <button th:value="${iterationStatus.index}" class="btn btn-danger" type="submit"-->
<!--                                    name="deleteRow">Hapus</button>-->
<!--                        </td>-->
<!--                    </tr>-->
                <section>
                    <button class="btn btn-primary" type="submit" name="tambahteknisi">+ Tambah Teknisi</button>
                    <a th:href="@{/pesawat}" class="btn btn-outline-secondary btn-lg">Cancel</a>
                    <button class="btn btn-success" type="submit" name="save">Submit</button>
                </section>
            </form>
        </div>
    </div>
</section>
</body>
</html>