<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Data Pesawat</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar('Form Update Pesawat')"></nav>
<h2>Ubah Data Pesawat</h2>
<section>
    <div class="card">
        <div class="card-body">
            <form th:action="@{/pesawat/ubah}" th:object="${pesawat}" method="POST">
                <input type="hidden" th:field="*{id}"/>
                <b>Maskapai:</b><br>
                <input type="text" name="maskapai" th:value="*{maskapai}"/>
                <br>
                    <b>Tempat Dibuat:</b><br>
                <input type="text" name="tempatDibuat" th:value="*{tempatDibuat}"/>
                <br>
                        <b>Tanggal Dibuat:</b><br>
                <input type="datetime-local" name="tanggalDibuat" th:value="*{{tanggalDibuat}}"/>
                <br>
                            <b>Jenis Pesawat:</b><br>
                <select name="jenisPesawat" th:value="*{jenisPesawat}">
                    <option value="0">Komersial</option>
                    <option value="1">Militer</option>
                    <option value="2">Pribadi</option>
                </select>
                <input type="hidden" th:field="*{tipe}">
                <br><br>
                <button type="submit" value="Submit">Submit</button>
            </form></div></div></section>
<a class="kembali" th:href="@{/pesawat}">Kembali</a>
</body>
</html>