<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Data Pesawat</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar('Form Update Pesawat')"></nav>
<h2>Ubah Data Pesawat</h2>
<section>
    <div class="card">
        <div class="card-body">
            <form th:action="@{/pesawat/ubah}" th:object="${pesawat}" method="POST">
                <input type="hidden" th:field="*{id}"/>
                Maskapai<br>
                <input type="text" name="maskapai" th:value="*{maskapai}"/>
                <br>
                Tempat Dibuat<br>
                <input type="text" name="tempatDibuat" th:value="*{tempatDibuat}"/>
                <br>
                Tanggal Dibuat<br>
                <input type="date" name="tanggalDibuat" th:value="*{tanggalDibuat}"/>
                <br>
                Jenis Pesawat<br>
                <input type="text" name="jenisPesawat" th:value="*{jenisPesawat}"/>
                <br><br>
                <button type="submit" value="Submit">Submit</button>
            </form></div></div></section>
<a th:href="@{/pesawat}">Kembali ke Home</a>
</body>
</html>