<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form add pesawat</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar('Form Add Pesawat')"></nav>
<h2>Tambah Pesawat</h2>
<section>
    <div class="card">
        <div class="card-body">
            <form th:action="@{/pesawat/tambah}" th:object="${pesawat}" method="POST">
                <input type="hidden" th:field="*{id}">
                <b>Maskapai:</b><br>
                <input type="text" name="maskapai"/>
                <br>
                    <b>Tanggal Dibuat:</b><br>
                <input type="datetime-local" name="tanggalDibuat"/>
                <br>
                        <b>Tempat Dibuat:</b><br>
                <input type="text" name="tempatDibuat"/>
                <br>
                            <b>Jenis:</b><br>
                <select name="jenisPesawat">
                    <option value="0">Komersial</option>
                    <option value="1">Militer</option>
                    <option value="2">Pribadi</option>
                </select>
                <br>
                <b>Tipe:</b><br>
                <select name="tipe" th:field="*{tipe}">
                    <option th:each="i : ${listTipe}" th:value="${i.id}" th:text="${i.nama}">
                    </option>
                </select>
                <br>
                <b>Teknisi:</b><br>
                    <input type="hidden" th:field="${pesawat}"/>
                    <div id="div-form" th:each="pesawatTeknisi, iterationStatus : *{listPesawatTeknisi}">
                        <select class="form-control" th:field="*{listPesawatTeknisi[__${iterationStatus.index}__].teknisi}">
                            <option th:each="pT : ${listTeknisi}" th:text="${pT.nama}" th:value="${pT.id}" ></option>
                        </select>
                        <br style="line-height: 0px">
                    </div>
                <section>
                    <a th:href="@{/pesawat}" class="btn btn-secondary">Batal</a>
                    <button class="btn btn-primary" type="submit" name="tambahteknisi">+ Tambah Teknisi</button>
                </section>
                <section>
                    <br>
                    <button class="btn btn-success" type="submit" name="save">Submit</button>
                </section>
            </form>
        </div>
    </div>
</section>
<a class="kembali" th:href="@{/pesawat}">Kembali</a>
</body>
</html>