<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form add penerbangan</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar('Form Add Penerbangan')"></nav>
<h2>Tambah Penerbangan</h2>
<section>
    <div class="card">
        <div class="card-body">
            <form th:action="@{/penerbangan/add}" th:object="${penerbangan}" method="POST">
                Kode Penerbangan<br>
                <input type="text" name="kodePenerbangan"/>
                <br>
                Kode Bandara Asal<br>
                <input type="text" name="kodeBandaraAsal"/>
                <br>
                Kode Bandara Tujuan<br>
                <input type="text" name="kodeBandaraTujuan"/>
                <br>
                Waktu Keberangkatan<br>
                <input type="text" name="waktuBerangkat"/>
                <br><br>
                <button type="submit" value="Submit">Submit</button>
            </form></div></div></section>
<a th:href="@{/}">Kembali ke Home</a>
</body>
</html>