<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Update Pesawat</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar('Update Pesawat')"></nav>
<section>
    <div class="card">
        <div class="card-body">
            <h2 th:text="'Pesawat ' + ${nomorSeri} + ' berhasil diupdate.'"></h2>
        </div>
    </div>
</section>
<a class="kembali" href="/pesawat">Kembali</a>
</body>
</html>