<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Penerbangan</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar('View All Penerbangan')"></nav>
<h2>Daftar Seluruh Penerbangan</h2>
<a th:href="@{/penerbangan/tambah/}" class="btn btn-success button-tambah">+ Tambah Penerbangan</a>
<table class="table table-view">
    <thead>
    <tr>
        <th scope="col">No</th>
        <th scope="col">Kode Penerbangan</th>
        <th scope="col">Bandara Asal</th>
        <th scope="col">Bandara Tujuan</th>
        <th scope="col">Waktu Berangkat</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="penerbangan, iterationStatus : ${listPenerbangan}">
        <td th:text="${iterationStatus.count}"></td>
        <td th:text="${penerbangan.nomorPenerbangan}"></td>
        <td th:text="${penerbangan.kodeBandaraAsal}"></td>
        <td th:text="${penerbangan.kodeBandaraTujuan}"></td>
        <td th:text="${penerbangan.waktuBerangkat}"></td>
        <td>
            <a th:href="@{/penerbangan/} + ${penerbangan.id}" class="btn btn-success">Lihat</a>
            <a th:href="@{/penerbangan/ubah/} + ${penerbangan.id}" class="btn btn-warning">Ubah</a>
            <a th:href="@{/penerbangan/hapus/} + ${penerbangan.id}" class="btn btn-danger">Hapus</a>
        </td>
    </tr>
    </tbody>
</table>
<section>
    <a class="kembali" th:href="@{/}">Kembali ke Home</a>
</section>
</body>
</html>