<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Penerbangan</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar('View Penerbangan')"></nav>
<h2>Detail Penerbangan</h2>
<div class="container-fluid">
    <section>
        <div class="card">
            <div class="card-body">
                <div class="container container-list">
                    <div class="row">
                        <div id="kode-penerbangan" class="col-2 kode-penerbangan" style="padding-right: unset">
                            <b><p>Kode Penerbangan:</p></b>
                        </div>
                        <div class="col-2">
                            <p th:text="${penerbangan.nomorPenerbangan}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <b><p>Kode Bandara Asal: </p></b>
                        </div>
                        <div class="col-2">
                            <p th:text="${penerbangan.kodeBandaraAsal}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <b><p>Kode Bandara Tujuan: </p></b>
                        </div>
                        <div class="col-2">
                            <p th:text="${penerbangan.kodeBandaraTujuan}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <b><p>Waktu Berangkat: </p></b>
                        </div>
                        <div class="col-2">
                            <p th:text="${penerbangan.waktuBerangkat}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <b><p>Nomor Seri Pesawat: </p></b>
                        </div>
                        <div class="col-2">
                            <p th:text="${assign}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<a class="kembali" th:href="@{/penerbangan}">Kembali</a>
</body>