<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Pesawat</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar('View Pesawat')"></nav>
<h2>Informasi Pesawat</h2>
<div class="container-fluid">
    <section>
        <div class="card">
            <div class="card-body">
                <p th:text="'Nomor Seri Pesawat: ' + ${pesawat.nomorSeri}"></p>
                <p th:text="'Jenis Pesawat: ' + ${pesawat.jenisPesawat}"></p>
                <p th:text="'Nama Tipe Pesawat: ' + ${pesawat.tipe.nama}"></p>
                <p th:text="'Maskapai: ' + ${pesawat.maskapai}"></p>
                <p th:text="'Tempat Dibuat: ' + ${pesawat.tempatDibuat}"></p>
                <p th:text="'Tanggal Dibuat: ' + ${pesawat.tanggalDibuat}"></p>
            </div>
        </div>
    </section>
    <section>
        <h3>Daftar Teknisi Pesawat</h3>
        <div class="d-flex justify-content-center">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Nama</th>
                    <th scope="col">Nomor Telepon</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="teknisi: ${listTeknisi}">
                    <td th:text="${teknisi.getTeknisi().id}"></td>
                    <td th:text="${teknisi.getTeknisi().nama}"></td>
                    <td th:text="${teknisi.getTeknisi().nomorTelepon}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>
</body>
</html>