<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Penerbangan</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar('View Penerbangan')"></nav>
<h2>Detail Penerbangan</h2>
<div class="container-fluid">
    <section>
        <div class="card">
            <div class="card-body">
                <p th:text="'Kode Penerbangan: ' + ${penerbangan.nomorPenerbangan}"></p>
                <p th:text="'Kode Bandara Asal: ' + ${penerbangan.kodeBandaraAsal}"></p>
                <p th:text="'Kode Bandara Tujuan: ' + ${penerbangan.kodeBandaraTujuan}"></p>
                <p th:text="'Waktu Berangkat: ' + ${penerbangan.waktuBerangkat}"></p>
                <td th:text="'Nomor Seri Pesawat: ' + ${assign}"></td>
            </div>
        </div>
    </section>
</div>
<a class="kembali" th:href="@{/penerbangan}">Kembali</a>
</body>