<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Pesawat</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar('View Pesawat')"></nav>
<h2>Informasi Pesawat</h2>
<div class="container-fluid">
    <section>
        <div class="card">
            <div class="card-body">
                <p th:text="'Nomor Seri Pesawat: ' + ${pesawat.nomorSeri}"></p>
                <p th:text="'Jenis Pesawat: ' + ${pesawat.jenisPesawat}"></p>
                <p th:text="'Nama Tipe Pesawat: ' + ${pesawat.tipe.nama}"></p>
                <p th:text="'Maskapai: ' + ${pesawat.maskapai}"></p>
                <p th:text="'Tempat Dibuat: ' + ${pesawat.tempatDibuat}"></p>
                <p th:text="'Tanggal Dibuat: ' + ${pesawat.tanggalDibuat}"></p>
            </div>
        </div>
    </section>
    <section>
        <div class="d-flex justify-content-center">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h3>Daftar Teknisi Pesawat</h3>
                        <div class="d-flex justify-content-center">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">Nama</th>
                                    <th scope="col">Nomor Telepon</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="penerbangan: ${listTeknisi}">
                                    <td th:text="${penerbangan.getTeknisi().id}"></td>
                                    <td th:text="${penerbangan.getTeknisi().nama}"></td>
                                    <td th:text="${penerbangan.getTeknisi().nomorTelepon}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col">
                        <h3>Daftar Penerbangan</h3>
                        <div class="container">
                            <div class="row">
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <form th:action="@{/pesawat/{idPesawat}/tambah-penerbangan(idPesawat = ${pesawat.id})}" th:object="${penerbangan}" method = "POST">
                                                <label class="col-md-8 col-form-label"><h6>Tambah Penerbangan</h6></label>
                                                        <select class="form-control" name="idPenerbangan">
                                                            <option th:each="penerbangan : ${listPenerbangan}" th:text="${penerbangan.nomorPenerbangan}" th:value="${penerbangan.id}" ></option>
                                                        </select>
                                                    <div class="col-md-1">
                                                        <button class="btn btn-primary" type="submit">Tambah</button>
                                                    </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="d-flex justify-content-center">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th scope="col">No</th>
                                            <th scope="col">Nomor Penerbangan</th>
                                            <th scope="col">Bandara Asal</th>
                                            <th scope="col">Bandara Tujuan</th>
                                            <th scope="col">Waktu Berangkat</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="penerbangan: ${penerbanganAda}">
                                            <td th:text="${penerbangan.id}"></td>
                                            <td th:text="${penerbangan.nomorPenerbangan}"></td>
                                            <td th:text="${penerbangan.kodeBandaraAsal}"></td>
                                            <td th:text="${penerbangan.kodeBandaraTujuan}"></td>
                                            <td th:text="${penerbangan.waktuBerangkat}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
</body>
</html>